/* ----------------------------------------------------- */
#HistoryWidget ResultTextEdit
{
  padding: 10px;
}

#HistoryWidget QListView
{
  font-size: 13px;
  font-weight: 400;
  padding-left: 0px;
  padding-right: 1px;
}

#HistoryWidget QListView QScrollBar:vertical
{
  width: 14px; /* 전체폭 */
  margin: 12px 0px 12px 0px;
  padding: 0px 3px 0px 3px; /* 핸들과 스크롤바와의 간격. 핸들의 크기를 결정합니다.*/
}

#HistoryWidget QListView::item
{ 
  padding: 2px 2px 2px 0px;
}

/* listview checkbox */
#HistoryWidget QListView::indicator
{
  /* background-color: #ff0000; */
  
}

HistoryListView
{
  qproperty-itemTextColor: rgba(235, 235, 235, 1);
  qproperty-itemSelectionTextColor: rgba(255, 255, 255, 1);
  qproperty-itemHoverTextColor:rgba(0, 0, 0, 0.9);
  
}