/*  ------------------------------------------------------------------------  */
/* QtMaterial - https://github.com/UN-GCPDS/qt-material
/* By Yeison Cardona - GCPDS
/*  ------------------------------------------------------------------------  */
#SettingsWidget
*{
  color: #111111;

  font-family: 'Noto Sans KR', 'Cascadia Mono', Consolas, monospace;



  font-size: 13px;



  line-height: 13px;


  selection-background-color: #6effe8;
  selection-color: #000000;
}


#SettingsWidget
*:focus {
   outline: none;
}

/*  ------------------------------------------------------------------------  */
/*  Custom colors  */

#SettingsWidget
.danger{
  color: #dc3545;
  background-color: transparent;
}

#SettingsWidget
.warning{
  color: #ffc107;
  background-color: transparent;
}

#SettingsWidget
.success{
  color: #17a2b8;
  background-color: transparent;
}

#SettingsWidget
.danger:disabled{
  color: rgba(220, 53, 69, 0.4);
  border-color: rgba(220, 53, 69, 0.4);
}

#SettingsWidget
.warning:disabled{
  color: rgba(255, 193, 7, 0.4);
  border-color: rgba(255, 193, 7, 0.4);
}

#SettingsWidget
.success:disabled{
  color: rgba(23, 162, 184, 0.4);
  border-color: rgba(23, 162, 184, 0.4);
}

#SettingsWidget
.danger:flat:disabled{
  background-color: rgba(220, 53, 69, 0.1);
}

#SettingsWidget
.warning:flat:disabled{
  background-color: rgba(255, 193, 7, 0.1);
}

#SettingsWidget
.success:flat:disabled{
  background-color: rgba(23, 162, 184, 0.1);
}

/*  ------------------------------------------------------------------------  */
/*  Basic widgets  */

#SettingsWidget
{
  background-color: #31363b;
}

#SettingsWidget QGroupBox,
#SettingsWidget QFrame {
  background-color: #31363b;
  border: 2px solid #4f5b62;
  border-radius: 4px;
}

#SettingsWidget QGroupBox.fill_background,
#SettingsWidget QFrame.fill_background {
  background-color: #232629;
  border: 2px solid #232629;
  border-radius: 4px;
}

#SettingsWidget QSplitter {
  background-color: transparent;
  border: none
}

#SettingsWidget QStatusBar {
  color: #ffffff;
  background-color: rgba(79, 91, 98, 0.2);
  border-radius: 0px;
}

#SettingsWidget QScrollArea,
#SettingsWidget QStackedWidget,
#SettingsWidget QWidget > QToolBox,
#SettingsWidget QToolBox > QWidget,
#SettingsWidget QTabWidget > QWidget {
  border: none;
}

#SettingsWidget QTabWidget::pane {
  border: none;
}

/*  ------------------------------------------------------------------------  */
/*  Inputs  */

#SettingsWidget QDateTimeEdit,
#SettingsWidget QSpinBox,
#SettingsWidget QDoubleSpinBox,
#SettingsWidget QTextEdit,
#SettingsWidget QLineEdit,
#SettingsWidget QPushButton {
  color: #1de9b6;
  background-color: #31363b;
  border: 2px solid #1de9b6;
  border-radius: 4px;
  height: 32px;
}

#SettingsWidget QDateTimeEdit,
#SettingsWidget QSpinBox,
#SettingsWidget QDoubleSpinBox,
#SettingsWidget QTreeView,
#SettingsWidget QListView,
#SettingsWidget QLineEdit,
#SettingsWidget QComboBox {
  color: #000000;
  padding-left: 16px;
  border-radius: 0px;
  border-radius: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: 32px;
  background-color: rgba(35, 38, 41, 0.75);
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-width: 0 0 2px 0;
}

#SettingsWidget QPlainTextEdit {
  border-radius: 4px;
  padding: 8px 16px;
  background-color: #31363b;
  border: 2px solid #4f5b62;
}

#SettingsWidget QTextEdit {
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #232629;
}

#SettingsWidget QDateTimeEdit:disabled,
#SettingsWidget QSpinBox:disabled,
#SettingsWidget QDoubleSpinBox:disabled,
#SettingsWidget QTextEdit:disabled,
#SettingsWidget QLineEdit:disabled {
  color: rgba(255, 255, 255, 0.2);
  background-color: rgba(35, 38, 41, 0.3);
  border: 2px solid #232629;
  border-width: 0 0 2px 0;
  padding: 0px 16px;
  border-radius: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: 32px;
}

/*  ------------------------------------------------------------------------  */
/*  QComboBox  */

#SettingsWidget QComboBox {
  color: #000000;
  border: 2px solid #1de9b6;
  border-radius: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: 32px;
  background-color: rgba(35, 38, 41, 0.75);
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-width: 0 0 2px 0;
}

#SettingsWidget QComboBox:disabled {
  color: rgba(255, 255, 255, 0.2);
  background-color: rgba(35, 38, 41, 0.3);
  border-bottom: 2px solid #232629;
}

#SettingsWidget QComboBox::drop-down {
  border: none;
  color: #1de9b6;
  width: 20px;
}

#SettingsWidget QComboBox::down-arrow {
  /* image: url(icon:/active/downarrow.svg); */
  margin-right: 12px;
}

#SettingsWidget QComboBox::down-arrow:focus {
  /* image: url(icon:/primary/downarrow.svg); */
  margin-right: 12px;
}

#SettingsWidget QComboBox::down-arrow:disabled {
  /* image: url(icon:/disabled/downarrow.svg); */
  margin-right: 12px;
}

#SettingsWidget QComboBox QAbstractItemView {
  background-color: #232629;
  border: 2px solid #4f5b62;
  border-radius: 4px;
}

#SettingsWidget QComboBox[frame='false'] {
  color: #ffffff;
  background-color: transparent;
  border: 1px solid transparent;
}

#SettingsWidget QComboBox[frame='false']:disabled {
  color: rgba(255, 255, 255, 0.2);
}

/*  ------------------------------------------------------------------------  */
/*  Spin buttons  */

#SettingsWidget QDateTimeEdit::up-button,
#SettingsWidget QDoubleSpinBox::up-button,
#SettingsWidget QSpinBox::up-button {
  subcontrol-origin: border;
  subcontrol-position: top right;
  width: 20px;
  /* image: url(icon:/active/uparrow.svg); */
  border-width: 0px;
  margin-right: 5px;
}

#SettingsWidget QDateTimeEdit::up-button:disabled,
#SettingsWidget QDoubleSpinBox::up-button:disabled,
#SettingsWidget QSpinBox::up-button:disabled {
  /* image: url(icon:/disabled/uparrow.svg); */
}

#SettingsWidget QDateTimeEdit::down-button,
#SettingsWidget QDoubleSpinBox::down-button,
#SettingsWidget QSpinBox::down-button {
  subcontrol-origin: border;
  subcontrol-position: bottom right;
  width: 20px;
  /* image: url(icon:/active/downarrow.svg); */
  border-width: 0px;
  border-top-width: 0;
  margin-right: 5px;
}

#SettingsWidget QDateTimeEdit::down-button:disabled,
#SettingsWidget QDoubleSpinBox::down-button:disabled,
#SettingsWidget QSpinBox::down-button:disabled {
  /* image: url(icon:/disabled/downarrow.svg); */
}

/*  ------------------------------------------------------------------------  */
/*  QPushButton  */

#SettingsWidget QPushButton {
  text-transform: uppercase;
  margin: 0px;
  padding: 1px 16px;
  height: 32px;
  font-weight: bold;

  
    border-radius: 4px;
  
}

#SettingsWidget QPushButton:checked,
#SettingsWidget QPushButton:pressed {
  color: #31363b;
  background-color: #1de9b6;
}

#SettingsWidget QPushButton:flat {
  margin: 0px;
  color: #1de9b6;
  border: none;
  background-color: transparent;
}

#SettingsWidget QPushButton:flat:hover {
  background-color: rgba(29, 233, 182, 0.1);
}

#SettingsWidget QPushButton:flat:pressed,
#SettingsWidget QPushButton:flat:checked {
  background-color: rgba(29, 233, 182, 0.1);
}

#SettingsWidget QPushButton:disabled {
  color: rgba(79, 91, 98, 0.75);
  background-color: transparent;
  border-color:  #4f5b62;
}

#SettingsWidget QPushButton:flat:disabled {
  color: rgba(79, 91, 98, 0.75);
  background-color: rgba(79, 91, 98, 0.25);
  border: none;
}

#SettingsWidget QPushButton:disabled {
  border: 2px solid rgba(79, 91, 98, 0.75);
}

#SettingsWidget QPushButton:checked:disabled {
  color: #232629;
  background-color: #4f5b62;
  border-color:  #4f5b62;
}

#SettingsWidget QToolButton:focus,
#SettingsWidget QPushButton:focus {
  background-color: rgba(29, 233, 182, 0.2);
}

#SettingsWidget QPushButton:checked:focus,
#SettingsWidget QPushButton:pressed:focus {
  background-color: rgba(29, 233, 182, 0.8);
}

#SettingsWidget QPushButton:flat:focus {
  border: none;
  background-color: rgba(29, 233, 182, 0.2);
}

/*  ------------------------------------------------------------------------  */
/*  QTabBar  */


/*  ------------------------------------------------------------------------  */
/*  QGroupBox  */

#SettingsWidget QGroupBox {
  padding: 16px;
  padding-top: 36px;
  line-height: ;
  text-transform: uppercase;
  font-size: ;
}

#SettingsWidget QGroupBox::title {
  color: rgba(255, 255, 255, 0.4);
  subcontrol-origin: margin;
  subcontrol-position: top left;
  padding: 16px;
  background-color: #31363b;
  background-color: transparent;
  height: 36px;
}

/*  ------------------------------------------------------------------------  */
/*  QRadioButton and QCheckBox labels  */

#SettingsWidget QRadioButton,
#SettingsWidget QCheckBox {
  spacing: 12px;
  color: #ffffff;
  line-height: 14px;
  height: 36px;
  background-color: transparent;
  spacing: 5px;
}

#SettingsWidget QRadioButton:disabled,
#SettingsWidget QCheckBox:disabled {
  color: rgba(255, 255, 255, 0.3);
}

/*  ------------------------------------------------------------------------  */
/*  General Indicators  */

#SettingsWidget QGroupBox::indicator {
  width: 24px;
  height: 24px;
  border-radius: 3px;
}

#SettingsWidget QMenu::indicator,
#SettingsWidget QListView::indicator,
#SettingsWidget QTableWidget::indicator,
#SettingsWidget QRadioButton::indicator,
#SettingsWidget QCheckBox::indicator {
  width: 28px;
  height: 28px;
  border-radius: 4px;
 }
 
/*  ------------------------------------------------------------------------  */
/*  QListView Indicator  */

 #SettingsWidget QListView::indicator:checked,
#SettingsWidget QListView::indicator:checked:selected,
#SettingsWidget QListView::indicator:checked:focus {
  /* image: url(icon:/primary/checklist.svg); */
}

#SettingsWidget QListView::indicator:checked:selected:active {
  /* image: url(icon:/primary/checklist_invert.svg); */
}

#SettingsWidget QListView::indicator:checked:disabled {
  /* image: url(icon:/disabled/checklist.svg); */
}

#SettingsWidget QListView::indicator:indeterminate,
#SettingsWidget QListView::indicator:indeterminate:selected,
#SettingsWidget QListView::indicator:indeterminate:focus {
  /* image: url(icon:/primary/checklist_indeterminate.svg); */
}

#SettingsWidget QListView::indicator:indeterminate:selected:active {
  /* image: url(icon:/primary/checklist_indeterminate_invert.svg); */
}

#SettingsWidget QListView::indicator:indeterminate:disabled {
  /* image: url(icon:/disabled/checklist_indeterminate.svg); */
}

/*  ------------------------------------------------------------------------  */
/*  QTableView Indicator  */

#SettingsWidget QTableView::indicator:enabled:checked,
#SettingsWidget QTableView::indicator:enabled:checked:selected,
#SettingsWidget QTableView::indicator:enabled:checked:focus {
  /* image: url(icon:/primary/checkbox_checked.svg); */
}

#SettingsWidget QTableView::indicator:checked:selected:active {
  /* image: url(icon:/primary/checkbox_checked_invert.svg); */
}

#SettingsWidget QTableView::indicator:disabled:checked,
#SettingsWidget QTableView::indicator:disabled:checked:selected,
#SettingsWidget QTableView::indicator:disabled:checked:focus {
  /* image: url(icon:/disabled/checkbox_checked.svg); */
}

#SettingsWidget QTableView::indicator:enabled:unchecked,
#SettingsWidget QTableView::indicator:enabled:unchecked:selected,
#SettingsWidget QTableView::indicator:enabled:unchecked:focus {
  /* image: url(icon:/primary/checkbox_unchecked.svg); */
}

#SettingsWidget QTableView::indicator:unchecked:selected:active {
  /* image: url(icon:/primary/checkbox_unchecked_invert.svg); */
}

#SettingsWidget QTableView::indicator:disabled:unchecked,
#SettingsWidget QTableView::indicator:disabled:unchecked:selected,
#SettingsWidget QTableView::indicator:disabled:unchecked:focus {
  /* image: url(icon:/disabled/checkbox_unchecked.svg); */
}

#SettingsWidget QTableView::indicator:enabled:indeterminate,
#SettingsWidget QTableView::indicator:enabled:indeterminate:selected,
#SettingsWidget QTableView::indicator:enabled:indeterminate:focus {
  /* image: url(icon:/primary/checkbox_indeterminate.svg); */
}

#SettingsWidget QTableView::indicator:indeterminate:selected:active {
  /* image: url(icon:/primary/checkbox_indeterminate_invert.svg); */
}

#SettingsWidget QTableView::indicator:disabled:indeterminate,
#SettingsWidget QTableView::indicator:disabled:indeterminate:selected,
#SettingsWidget QTableView::indicator:disabled:indeterminate:focus {
  /* image: url(icon:/disabled/checkbox_indeterminate.svg); */
}

/*  ------------------------------------------------------------------------  */
/*  QCheckBox and QGroupBox Indicator  */

#SettingsWidget QCheckBox::indicator:checked,
#SettingsWidget QGroupBox::indicator:checked {
  /* image: url(icon:/primary/checkbox_checked.svg); */
}

#SettingsWidget QCheckBox::indicator:unchecked,
#SettingsWidget QGroupBox::indicator:unchecked {
  /* image: url(icon:/primary/checkbox_unchecked.svg); */
}

#SettingsWidget QCheckBox::indicator:indeterminate,
#SettingsWidget QGroupBox::indicator:indeterminate {
  /* image: url(icon:/primary/checkbox_indeterminate.svg); */
}

#SettingsWidget QCheckBox::indicator:checked:disabled,
#SettingsWidget QGroupBox::indicator:checked:disabled {
  /* image: url(icon:/disabled/checkbox_checked.svg); */
}

#SettingsWidget QCheckBox::indicator:unchecked:disabled,
#SettingsWidget QGroupBox::indicator:unchecked:disabled {
  /* image: url(icon:/disabled/checkbox_unchecked.svg); */
}

#SettingsWidget QCheckBox::indicator:indeterminate:disabled,
#SettingsWidget QGroupBox::indicator:indeterminate:disabled {
  /* image: url(icon:/disabled/checkbox_indeterminate.svg); */
}

/*  ------------------------------------------------------------------------  */
/*  QRadioButton Indicator  */

#SettingsWidget QRadioButton::indicator:checked {
  /* image: url(icon:/primary/radiobutton_checked.svg); */
}

#SettingsWidget QRadioButton::indicator:unchecked {
  /* image: url(icon:/primary/radiobutton_unchecked.svg); */
}

#SettingsWidget QRadioButton::indicator:checked:disabled {
  /* image: url(icon:/disabled/radiobutton_checked.svg); */
}

#SettingsWidget QRadioButton::indicator:unchecked:disabled {
  /* image: url(icon:/disabled/radiobutton_unchecked.svg); */
}

/*  ------------------------------------------------------------------------  */
/*  QDockWidget  */

#SettingsWidget QDockWidget {
  color: #ffffff;
  text-transform: uppercase;
  border: 2px solid #232629;
  titlebar-close-icon: url(icon:/primary/close.svg);
  titlebar-normal-icon: url(icon:/primary/float.svg);
  border-radius: 4px;
}

#SettingsWidget QDockWidget::title {
  text-align: left;
  padding-left: 36px;
  padding: 3px;
  margin-top: 4px;
}

/*  ------------------------------------------------------------------------  */
/*  QComboBox indicator  */

#SettingsWidget QComboBox::indicator:checked {
  /* image: url(icon:/primary/checklist.svg); */
}

#SettingsWidget QComboBox::indicator:checked:selected {
  /* image: url(icon:/primary/checklist_invert.svg); */
}

/*  ------------------------------------------------------------------------  */
/*  Menu Items  */

#SettingsWidget QComboBox::item,
#SettingsWidget QCalendarWidget QMenu::item,
#SettingsWidget QMenu::item {
  
    height: 28px;
  
  border: 8px solid transparent;
  color: #ffffff;
}

#SettingsWidget QCalendarWidget QMenu::item,
#SettingsWidget QMenu::item {
  
    
      padding: 0px 24px 0px 8px;  /* pyside6 or pyqt6 */
    
  
}

#SettingsWidget QComboBox::item:selected,
#SettingsWidget QCalendarWidget QMenu::item:selected,
#SettingsWidget QMenu::item:selected {
  color: #000000;
  background-color: #6effe8;
  border-radius: 0px;
}

#SettingsWidget QComboBox::item:disabled,
#SettingsWidget QCalendarWidget QMenu::item:disabled,
#SettingsWidget QMenu::item:disabled {
  color: rgba(255, 255, 255, 0.3);
}

/*  ------------------------------------------------------------------------  */
/*  QMenu  */

#SettingsWidget QCalendarWidget QMenu,
#SettingsWidget QMenu {
  background-color: #232629;
  border: 2px solid #4f5b62;
  border-radius: 4px;
}

#SettingsWidget QMenu::separator {
  height: 2px;
  background-color: #4f5b62;
  margin-left: 2px;
  margin-right: 2px;
}

#SettingsWidget QMenu::right-arrow{
  /* image: url(icon:/primary/rightarrow.svg); */
  width: 16px;
  height: 16px;
}

#SettingsWidget QMenu::right-arrow:selected{
  /* image: url(icon:/disabled/rightarrow.svg); */
}

#SettingsWidget QMenu::indicator:non-exclusive:unchecked {
  /* image: url(icon:/primary/checkbox_unchecked.svg); */
}

#SettingsWidget QMenu::indicator:non-exclusive:unchecked:selected {
  /* image: url(icon:/primary/checkbox_unchecked_invert.svg); */
}

#SettingsWidget QMenu::indicator:non-exclusive:checked {
  /* image: url(icon:/primary/checkbox_checked.svg); */
}

#SettingsWidget QMenu::indicator:non-exclusive:checked:selected {
  /* image: url(icon:/primary/checkbox_checked_invert.svg); */
}

#SettingsWidget QMenu::indicator:exclusive:unchecked {
  /* image: url(icon:/primary/radiobutton_unchecked.svg); */
}

#SettingsWidget QMenu::indicator:exclusive:unchecked:selected {
  /* image: url(icon:/primary/radiobutton_unchecked_invert.svg); */
}

#SettingsWidget QMenu::indicator:exclusive:checked {
  /* image: url(icon:/primary/radiobutton_checked.svg); */
}

#SettingsWidget QMenu::indicator:exclusive:checked:selected {
  /* image: url(icon:/primary/radiobutton_checked_invert.svg); */
}

/*  ------------------------------------------------------------------------  */
/*  QMenuBar  */

#SettingsWidget QMenuBar {
  background-color: #232629;
  color: #ffffff;
}

#SettingsWidget QMenuBar::item {
  height: 32px;
  padding: 8px;
  background-color: transparent;
  color: #ffffff;
}

#SettingsWidget QMenuBar::item:selected,
#SettingsWidget QMenuBar::item:pressed {
  color: #000000;
  background-color: #6effe8;
}

/*  ------------------------------------------------------------------------  */
/*  QToolBox  */

#SettingsWidget QToolBox::tab {
  background-color: #232629;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 4px;
  padding-left: 15px;
}

#SettingsWidget QToolBox::tab:selected,
#SettingsWidget QToolBox::tab:hover {
  background-color: rgba(29, 233, 182, 0.2);
}

/*  ------------------------------------------------------------------------  */
/*  QProgressBar  */

#SettingsWidget QProgressBar {
  border-radius: 0;
  background-color: #4f5b62;
  text-align: center;
  color: transparent;
}

#SettingsWidget QProgressBar::chunk {
  background-color: #1de9b6;
}

/*  ------------------------------------------------------------------------  */
/*  QScrollBar  */

#SettingsWidget QScrollBar:horizontal {
  border: 0;
  background: #232629;
  height: 8px;
}

#SettingsWidget QScrollBar:vertical {
  border: 0;
  background: #6298a5b3;
  width: 8px;
}

#SettingsWidget QScrollBar::handle {
  background: rgba(29, 233, 182, 0.1);
}

#SettingsWidget QScrollBar::handle:horizontal {
  min-width: 24px;
}

#SettingsWidget QScrollBar::handle:vertical {
  min-height: 24px;
}

#SettingsWidget QScrollBar::handle:vertical:hover,
#SettingsWidget QScrollBar::handle:horizontal:hover {
  background: #1de9b6;
}

#SettingsWidget QScrollBar::add-line:vertical,
#SettingsWidget QScrollBar::sub-line:vertical,
#SettingsWidget QScrollBar::add-line:horizontal,
#SettingsWidget QScrollBar::sub-line:horizontal {
  border: 0;
  background: transparent;
  width: 0px;
  height: 0px;
}

/*  ------------------------------------------------------------------------  */
/*  QScrollBar-Big  */

#SettingsWidget QScrollBar.big:horizontal {
  border: 0;
  background: #232629;
  height: 36px;
}

#SettingsWidget QScrollBar.big:vertical {
  border: 0;
  background: #232629;
  width: 36px;
}

#SettingsWidget QScrollBar.big::handle,
#SettingsWidget QScrollBar.big::handle:vertical:hover,
#SettingsWidget QScrollBar.big::handle:horizontal:hover {
  background: #1de9b6;
}

#SettingsWidget QScrollBar.big::handle:horizontal {
  min-width: 24px;
}

#SettingsWidget QScrollBar.big::handle:vertical {
  min-height: 24px;
}

#SettingsWidget QScrollBar.big::add-line:vertical,
#SettingsWidget QScrollBar.big::sub-line:vertical,
#SettingsWidget QScrollBar.big::add-line:horizontal,
#SettingsWidget QScrollBar.big::sub-line:horizontal {
  border: 0;
  background: transparent;
  width: 0px;
  height: 0px;
}

/*  ------------------------------------------------------------------------  */
/*  QSlider  */

#SettingsWidget QSlider:horizontal {
  min-height: 24px;
  max-height: 24px;
}

#SettingsWidget QSlider:vertical {
  min-width: 24px;
  max-width: 24px;
}

#SettingsWidget QSlider::groove:horizontal {
  height: 4px;
  background: #393939;
  margin: 0 12px;
}

#SettingsWidget QSlider::groove:vertical {
  width: 4px;
  background: #393939;
  margin: 12px 0;
  border-radius: 24px;
}

#SettingsWidget QSlider::handle:horizontal {
  /* image: url(icon:/primary/slider.svg); */
  width: 24px;
  height: 24px;
  margin: -24px -12px;
}

#SettingsWidget QSlider::handle:vertical {
  /* image: url(icon:/primary/slider.svg); */
  border-radius: 24px;
  width: 24px;
  height: 24px;
  margin: -12px -24px;
}

#SettingsWidget QSlider::add-page {
background: #232629;
}

#SettingsWidget QSlider::sub-page {
background: #1de9b6;
}

/*  ------------------------------------------------------------------------  */
/*  QLabel  */

#SettingsWidget QLabel {
  border: none;
  background: transparent;
  color: #ffffff
}

#SettingsWidget QLabel:disabled {
  color: rgba(255, 255, 255, 0.2)
}

/*  ------------------------------------------------------------------------  */
/*  VLines and HLinex  */

#SettingsWidget QFrame[frameShape="4"] {
    border-width: 1px 0 0 0;
    background: none;
}

#SettingsWidget QFrame[frameShape="5"] {
    border-width: 0 1px 0 0;
    background: none;
}

#SettingsWidget QFrame[frameShape="4"],
#SettingsWidget QFrame[frameShape="5"] {
  border-color: #4f5b62;
}

/*  ------------------------------------------------------------------------  */
/*  QToolBar  */

#SettingsWidget QToolBar {
  background: #31363b;
  border: 0px solid;
}

#SettingsWidget QToolBar:horizontal {
  border-bottom: 1px solid #4f5b62;
}

#SettingsWidget QToolBar:vertical {
  border-right: 1px solid #4f5b62;
}

#SettingsWidget QToolBar::handle:horizontal {
  /* image: url(icon:/primary/toolbar-handle-horizontal.svg); */
}

#SettingsWidget QToolBar::handle:vertical {
  /* image: url(icon:/primary/toolbar-handle-vertical.svg); */
}

#SettingsWidget QToolBar::separator:horizontal {
  border-right: 1px solid #4f5b62;
  border-left: 1px solid #4f5b62;
  width: 1px;
}

#SettingsWidget QToolBar::separator:vertical {
  border-top: 1px solid #4f5b62;
  border-bottom: 1px solid #4f5b62;
  height: 1px;
}


/*  ------------------------------------------------------------------------  */
/*  QToolButton  */

#SettingsWidget QToolButton {
  background: #31363b;
  border: 0px;
  height: 36px;
  margin: 3px;
  padding: 3px;
  border-right: 12px solid #31363b;
  border-left: 12px solid #31363b;
}

#SettingsWidget QToolButton:hover {
  background: #4f5b62;
  border-right: 12px solid #4f5b62;
  border-left: 12px solid #4f5b62;
}

#SettingsWidget QToolButton:pressed {
  background: #232629;
  border-right: 12px solid #232629;
  border-left: 12px solid #232629;
}

#SettingsWidget QToolButton:checked {
  background: #4f5b62;
  border-left: 12px solid #4f5b62;
  border-right: 12px solid #1de9b6;
}

/*  ------------------------------------------------------------------------  */
/*  General viewers  */

#SettingsWidget QTableView {
  background-color: #31363b;
  border: 1px solid #232629;
  border-radius: 4px;
}

#SettingsWidget QTreeView,
#SettingsWidget QListView {
  border-radius: 4px;
  padding: 4px;
  margin: 0px;
  border: 0px;
}

#SettingsWidget QTableView::item,
#SettingsWidget QTreeView::item,
#SettingsWidget QListView::item {
  padding: 4px;
  min-height: 32px;
  color: #ffffff;
  selection-color: #ffffff; /* For Windows */
  border-color: transparent;  /* Fix #34 */
}

/*  ------------------------------------------------------------------------  */
/*  Items Selection */

#SettingsWidget QTableView::item:selected,
#SettingsWidget QTreeView::item:selected,
#SettingsWidget QListView::item:selected {
  background-color: rgba(29, 233, 182, 0.2);
  selection-background-color: rgba(29, 233, 182, 0.2);
  color: #ffffff;
  selection-color: #ffffff; /* For Windows */
}

#SettingsWidget QTableView::item:selected:focus,
#SettingsWidget QTreeView::item:selected:focus,
#SettingsWidget QListView::item:selected:focus {
  background-color: #1de9b6;
  selection-background-color: #1de9b6;
  color: #000000;
  selection-color: #000000; /* For Windows */
}

#SettingsWidget QTableView {
  selection-background-color: rgba(29, 233, 182, 0.2);
}

#SettingsWidget QTableView:focus {
  selection-background-color: #1de9b6;
}

#SettingsWidget QTableView::item:disabled {
  color: rgba(255, 255, 255, 0.3);
  selection-color: rgba(255, 255, 255, 0.3);
  background-color: #232629;
  selection-background-color: #232629;
}

/*  ------------------------------------------------------------------------  */
/*  QTreeView  */

#SettingsWidget QTreeView::branch{
  background-color: #232629;
}

#SettingsWidget QTreeView::branch:closed:has-children:has-siblings,
#SettingsWidget QTreeView::branch:closed:has-children:!has-siblings {
  /* image: url(icon:/primary/branch-closed.svg); */
}

#SettingsWidget QTreeView::branch:open:has-children:!has-siblings,
#SettingsWidget QTreeView::branch:open:has-children:has-siblings {
  /* image: url(icon:/primary/branch-open.svg); */
}

#SettingsWidget QTreeView::branch:has-siblings:!adjoins-item {
  /* border-image: url(icon:/disabled/vline.svg) 0; */
}

#SettingsWidget QTreeView::branch:has-siblings:adjoins-item {
    /* border-image: url(icon:/disabled/branch-more.svg) 0; */
}

#SettingsWidget QTreeView::branch:!has-children:!has-siblings:adjoins-item,
#SettingsWidget QTreeView::branch:has-children:!has-siblings:adjoins-item {
    /* border-image: url(icon:/disabled/branch-end.svg) 0; */
}

#SettingsWidget QTreeView QHeaderView::section {
  border: none;
}


/*  ------------------------------------------------------------------------  */
/*  Custom buttons  */

#SettingsWidget QPushButton.danger {
  border-color: #dc3545;
  color: #dc3545;
}

#SettingsWidget QPushButton.danger:checked,
#SettingsWidget QPushButton.danger:pressed {
  color: #31363b;
  background-color: #dc3545;
}

#SettingsWidget QPushButton.warning{
  border-color: #ffc107;
  color: #ffc107;
}

#SettingsWidget QPushButton.warning:checked,
#SettingsWidget QPushButton.warning:pressed {
  color: #31363b;
  background-color: #ffc107;
}

#SettingsWidget QPushButton.success {
  border-color: #17a2b8;
  color: #17a2b8;
}

#SettingsWidget QPushButton.success:checked,
#SettingsWidget QPushButton.success:pressed {
  color: #31363b;
  background-color: #17a2b8;
}

#SettingsWidget QPushButton.danger:flat:hover {
  background-color: rgba(220, 53, 69, 0.2);
}

#SettingsWidget QPushButton.danger:flat:pressed,
#SettingsWidget QPushButton.danger:flat:checked {
  background-color: rgba(220, 53, 69, 0.1);
  color: #dc3545;
}

#SettingsWidget QPushButton.warning:flat:hover {
  background-color: rgba(255, 193, 7, 0.2);
}

#SettingsWidget QPushButton.warning:flat:pressed,
#SettingsWidget QPushButton.warning:flat:checked {
  background-color: rgba(255, 193, 7, 0.1);
  color: #ffc107;
}

#SettingsWidget QPushButton.success:flat:hover {
  background-color: rgba(23, 162, 184, 0.2);
}

#SettingsWidget QPushButton.success:flat:pressed,
#SettingsWidget QPushButton.success:flat:checked {
  background-color: rgba(23, 162, 184, 0.1);
  color: #17a2b8;
}

/*  ------------------------------------------------------------------------  */
/*  QTableView  */

#SettingsWidget QTableCornerButton::section {
  background-color: #232629;
  border-radius: 0px;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-color: #31363b;
}

#SettingsWidget QTableView {
  alternate-background-color: rgba(35, 38, 41, 0.7);
}

#SettingsWidget QHeaderView {
  border: none;
}

#SettingsWidget QHeaderView::section {
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
  background-color: #232629;
  padding: 0 24px;
  height: 36px;
  border-radius: 0px;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-color: #31363b;
}

#SettingsWidget QHeaderView::section:vertical {

}

#SettingsWidget QHeaderView::section:horizontal {

}

/*  ------------------------------------------------------------------------  */
/*  QLCDNumber  */

#SettingsWidget QLCDNumber {
  color: #1de9b6;
  background-color:rgba(29, 233, 182, 0.1);
  border: 1px solid rgba(29, 233, 182, 0.3);
  border-radius: 4px;
}

/*  ------------------------------------------------------------------------  */
/*  QCalendarWidget  */

#SettingsWidget
#qt_calendar_prevmonth {
  qproperty-icon: url(icon:/primary/leftarrow.svg);
}

#SettingsWidget
#qt_calendar_nextmonth {
  qproperty-icon: url(icon:/primary/rightarrow.svg);
}

/*  ------------------------------------------------------------------------  */
/*  Inline QLineEdit  */

#SettingsWidget QTreeView QLineEdit,
#SettingsWidget QTableView QLineEdit,
#SettingsWidget QListView QLineEdit {
  color: #ffffff;
  background-color: #232629;
  border: 1px solid unset;
  border-radius: unset;
  padding: unset;
  padding-left: unset;
  height: unset;
  border-width: unset;
  border-top-left-radius: unset;
  border-top-right-radius: unset;
}

/*  ------------------------------------------------------------------------  */
/*  QToolTip  */

#SettingsWidget QToolTip {
  padding: 4px;
  border: 1px solid #31363b;
  border-radius: 4px;
  color: #ffffff;
  background-color: #4f5b62;
}

/*  ------------------------------------------------------------------------  */
/*  QDialog  */

#SettingsWidget
  /* linux */
  QDialog QToolButton,
  QDialog QToolButton:hover,
  QDialog QToolButton:pressed,
  QDialog QToolButton:checked {
    border: 0px;
    height: unset;
    margin: unset;
    padding: unset;
    border-right: unset;
    border-left: unset;
    background-color: #1de9b6;
    color: #ffffff;
    border-radius: 4px;
  }
  
#SettingsWidget QDialog QToolButton:disabled {
  background-color: #232629;
  color: #ffffff
}

/*  ------------------------------------------------------------------------  */
/*  Grips  */

#SettingsWidget QMainWindow::separator:vertical,
#SettingsWidget QSplitter::handle:horizontal {
  /* image: url(icon:/primary/splitter-horizontal.svg); */
}

#SettingsWidget QMainWindow::separator:horizontal,
#SettingsWidget QSplitter::handle:vertical {
  /* image: url(icon:/primary/splitter-vertical.svg); */
}

#SettingsWidget QSizeGrip {
  /* image: url(icon:/primary/sizegrip.svg); */
  background-color: transparent;
}

#SettingsWidget QMenuBar QToolButton:hover,
#SettingsWidget QMenuBar QToolButton:pressed,
#SettingsWidget QMenuBar QToolButton {
  border-width: 0;
  border-left: 10px;
  /* border-image: url(icon:/primary/rightarrow2.svg); */
  background-color: transparent;
}

/*  ------------------------------------------------------------------------  */
/*  Focus  */

#SettingsWidget QDateTimeEdit:focus,
#SettingsWidget QSpinBox:focus,
#SettingsWidget QDoubleSpinBox:focus,
#SettingsWidget QLineEdit:focus,
#SettingsWidget QComboBox:focus {
  color: #1de9b6;
  border: 2px solid #1de9b6;
  border-width: 0 0 2px 0;

}

#SettingsWidget QDateTimeEdit::up-button:focus,
#SettingsWidget QDoubleSpinBox::up-button:focus,
#SettingsWidget QSpinBox::up-button:focus {
  /* image: url(icon:/primary/uparrow.svg); */
}

#SettingsWidget QDateTimeEdit::down-button:focus,
#SettingsWidget QDoubleSpinBox::down-button:focus,
#SettingsWidget QSpinBox::down-button:focus {
  /* image: url(icon:/primary/downarrow.svg); */
}

#SettingsWidget QMenu::indicator:focus,
#SettingsWidget QListView::indicator:focus,
#SettingsWidget QTableWidget::indicator:focus,
#SettingsWidget QRadioButton::indicator:focus {
  background-color: rgba(29, 233, 182, 0.2);
  border-radius: 14px;
 }
 
#SettingsWidget QCheckBox::indicator:focus {
  background-color: rgba(29, 233, 182, 0.2);
 } 