
#SettingCard
{
  border-bottom: 1px solid #4f5b62;
  /* rgb(179, 225, 255); */
  border-radius: 0px;
  padding-bottom : 8px;
}

#SettingCard QLabel#SettingHeaderText
{
  
}

#SettingCard QLabel#SettingDescriptionText
{
  color: rgba(255, 255, 255, 0.82);
  font-size: 14px;
}