/*  ------------------------------------------------------------------------  */
/* QtMaterial - https://github.com/UN-GCPDS/qt-material
/* By Yeison Cardona - GCPDS
/*  ------------------------------------------------------------------------  */
#SettingsWidget
{
  background-color: rgba(50, 55, 60, 1);
}

#SettingsWidget QSplitter
{
  background-color: transparent;
  border: none
}

#SettingsWidget QStatusBar
{
  color: #ffffff;
  background-color: rgba(79, 91, 98, 0.2);
  border-radius: 0px;
}

#SettingsWidget QScrollArea,
#SettingsWidget QStackedWidget,
#SettingsWidget QWidget > QToolBox,
#SettingsWidget QToolBox > QWidget,
#SettingsWidget QTabWidget > QWidget
{
  border: none;
}

#SettingsWidget QTabWidget::pane
{
  border: none;
}

#SettingsWidget QLabel
{
  border: none;
  background: transparent;
  color: #ffffff
}
#SettingsWidget  QLabel:disabled
{
  color: rgba(255, 255, 255, 0.2)
}

/* -------------------------------- */
/* QLineEdit */
#SettingsWidget QLineEdit
{
  height: 32px;
  padding-left: 8px;

  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius : 4px;

  background-color: rgb(45, 45, 45);
  background-color: rgba(35, 38, 41, 0.75);

  color: rgba(250, 250, 250, 0.93);
}

#SettingsWidget QLineEdit:focus
{
  border: 1px solid rgba(255, 255, 255, 0.6);
}


/* -------------------------------- */
#SettingsWidget QGroupBox
{
  font-size: 16px;
  border: none;
  padding-top: 24px;
  margin-top: 0.5em;
  
}

#SettingsWidget QGroupBox::title
{
  color: rgba(255, 255, 255, 0.67);
  subcontrol-origin: margin;
}

#SettingsWidget QPushButton[selectButton="true"]
{
  border: none;
  background-color:rgb(68, 93, 116);
  color:rgb(240, 240, 232)
}

/* -------------------------------- */
/* tab */
#SettingsWidget QTabWidget QTabBar::tab
{
  background-color: transparent;
}

#SettingsWidget QTabWidget::pane
{
  /* The tab widget frame */
  /* border-top: 2px solid #C2C7CB; */
}

#SettingsWidget QTabWidget::tab-bar
{
  left: 5px; /* move to the right by 5px */
}


#SettingsWidget QTabWidget QTabBar::tab
{
  color: rgba(255, 255, 255, 0.9);
  selection-color: rgb(220, 222, 223);

  /* border: 2px solid #C4C4C3; */
  background-color: rgba(35, 38, 41, 1);
  border-radius: 4px;
  padding: 6px;

  /* for fixing content area */
  border-color: transparent;
  border-style: solid;
  border-width: 1px;
}

#SettingsWidget QTabWidget QTabBar::tab:focus
{
  border-color: rgb(217, 220, 224);
  border-radius: 2px;
}
#SettingsWidget QTabWidget QTabBar::tab:hover
{
  color: rgba(0, 0, 0, 0.8);

  background-color:rgba(255, 255, 255, 0.80);
  selection-background-color:rgba(255, 255, 255, 0.80);
}

#SettingsWidget QTabWidget QTabBar::tab:selected
{
  color: rgba(255, 255, 255, 1);
  selection-color: rgba(255, 255, 255, 1); /* For Windows */

  /* background-color:rgba(63, 65, 70, 1);
  selection-background-color:rgba(63, 65, 70, 1); */

  background-color:rgba(189, 189, 189, 0.37);
  selection-background-color:rgba(189, 189, 189, 0.37);
}


/* -------------------------------- */
/* IOptionWidget */
#SettingsWidget Sol--IOptionWidget > QWidget > QWidget> QWidget,
#SettingsWidget Sol--IOptionWidget > QWidget > QWidget,
#SettingsWidget Sol--IOptionWidget > QWidget,
#SettingsWidget Sol--IOptionWidget
{
  background-color: transparent;
}
