/*  ------------------------------------------------------------------------  */
/* QtMaterial - https://github.com/UN-GCPDS/qt-material
/* By Yeison Cardona - GCPDS
/*  ------------------------------------------------------------------------  */
#SettingsWidget
{
  background-color: #31363b;
}

/* #SettingsWidget QGroupBox, */
#SettingsWidget QFrame {
  background-color: #31363b;
  border: 2px solid #4f5b62;
  border-radius: 4px;
}

/* #SettingsWidget QGroupBox.fill_background, */
#SettingsWidget QFrame.fill_background {
  background-color: #232629;
  border: 2px solid #232629;
  border-radius: 4px;
}

#SettingsWidget QSplitter {
  background-color: transparent;
  border: none
}

#SettingsWidget QStatusBar {
  color: #ffffff;
  background-color: rgba(79, 91, 98, 0.2);
  border-radius: 0px;
}

#SettingsWidget QScrollArea,
#SettingsWidget QStackedWidget,
#SettingsWidget QWidget > QToolBox,
#SettingsWidget QToolBox > QWidget,
#SettingsWidget QTabWidget > QWidget {
  border: none;
}

#SettingsWidget QTabWidget::pane {
  border: none;
}

#SettingsWidget QPushButton[selectButton="true"]
{
  border: none;
  background-color:rgb(68, 93, 116);
  color:rgb(240, 240, 232)
}

#SettingsWidget QLabel
{
  background-color:  #31363b;
}