/*  ------------------------------------------------------------------------  */
/* QtMaterial - https://github.com/UN-GCPDS/qt-material
/* By Yeison Cardona - GCPDS
/*  ------------------------------------------------------------------------  */
/**
color: rgb(61, 68, 80);
color: rgb(220, 222, 223);
 */

*
{
  color:rgb(22, 22, 22);
  /* color: rgb(61, 68, 80); */
  /* font-family: 'Noto Sans KR', 'Cascadia Mono', Consolas, monospace;*/
  font-size: 11pt;
  /* font-weight: 400; */
}


/*  ------------------------------------------------------------------------  */
/*  QPushButton  */

#SolMainWidget QPushButton
{
  /* 아이콘과 텍스트 사이 간격을 위한 조치 */
  text-align: center center;
}
#SolMainWidget QPushButton#textTabButton,
#SolMainWidget QPushButton#docTabButton
{
  icon-size: 20px;
}

#SolMainWidget QPushButton#settingsButton
{}


/*  ------------------------------------------------------------------------  */
/*  Custom colors  */

#SolMainWidget 
.danger{
  color: #dc3545;
  background-color: transparent;
}

#SolMainWidget 
.warning{
  color: #ffc107;
  background-color: transparent;
}

#SolMainWidget 
.success{
  color: #17a2b8;
  background-color: transparent;
}

#SolMainWidget 
.danger:disabled{
  color: rgba(220, 53, 69, 0.4);
  border-color: rgba(220, 53, 69, 0.4);
}

#SolMainWidget 
.warning:disabled{
  color: rgba(255, 193, 7, 0.4);
  border-color: rgba(255, 193, 7, 0.4);
}

#SolMainWidget 
.success:disabled{
  color: rgba(23, 162, 184, 0.4);
  border-color: rgba(23, 162, 184, 0.4);
}

#SolMainWidget 
.danger:flat:disabled{
  background-color: rgba(220, 53, 69, 0.1);
}

#SolMainWidget 
.warning:flat:disabled{
  background-color: rgba(255, 193, 7, 0.1);
}

#SolMainWidget 
.success:flat:disabled{
  background-color: rgba(23, 162, 184, 0.1);
}

/*  ------------------------------------------------------------------------  */
/*  Basic widgets  */

#SolMainWidget
{
  background-color: rgba(50, 55, 60, 1);
  
}

#SolMainWidget  QSplitter {
  background-color: transparent;
  border: none
}

#SolMainWidget  QStatusBar {
  color: #ffffff;
  background-color: rgba(79, 91, 98, 0.2);
  border-radius: 0px;
}

#SolMainWidget  QScrollArea,
#SolMainWidget  QStackedWidget,
#SolMainWidget  QWidget > QToolBox,
#SolMainWidget  QToolBox > QWidget,
#SolMainWidget  QTabWidget > QWidget {
  border: none;
}

#SolMainWidget  QTabWidget::pane {
  border: none;
}
/*  ------------------------------------------------------------------------  */
/*  QGroupBox  */

#SolMainWidget  QGroupBox {
  padding-top:  16px;
  /* padding-left: 12px; */
  margin-top: 0.5em;
  
  border: 1px solid gray;
  border-color: rgba(0, 0, 0, 0.4);
  border-style: solid none none none;

}

#SolMainWidget  QGroupBox::title {
  color: rgba(255, 255, 255, 0.67);
  subcontrol-origin: margin;

}

/*  ------------------------------------------------------------------------  */
/*  QRadioButton and QCheckBox labels  */

#SolMainWidget  QRadioButton,
#SolMainWidget  QCheckBox {
  spacing: 12px;
  color: #ffffff;
  line-height: 14px;
  height: 36px;
  background-color: transparent;
  spacing: 5px;
}

#SolMainWidget  QRadioButton:disabled,
#SolMainWidget  QCheckBox:disabled {
  color: rgba(255, 255, 255, 0.3);
}


/*  ------------------------------------------------------------------------  */
/*  VLines and HLinex  */

#SolMainWidget  QFrame[frameShape="4"] {
    border-width: 1px 0 0 0;
    background: none;
}

#SolMainWidget  QFrame[frameShape="5"] {
    border-width: 0 1px 0 0;
    background: none;
}

#SolMainWidget  QFrame[frameShape="4"],
#SolMainWidget  QFrame[frameShape="5"] {
  border-color: #4f5b62;
}
