/*  ------------------------------------------------------------------------  */
/* QtMaterial - https://github.com/UN-GCPDS/qt-material
/* By Yeison Cardona - GCPDS
/*  ------------------------------------------------------------------------  */
/**
color: rgb(61, 68, 80);
color: rgb(220, 222, 223);
 */
*{
  color:rgb(22, 22, 22);
  /* color: rgb(61, 68, 80); */
  
  font-family: 'Noto Sans KR', 'Cascadia Mono', Consolas, monospace;
  font-size: 11pt;
  /* font-weight: 400; */
}



/*  ------------------------------------------------------------------------  */
/*  QPushButton  */

#SolMainWidget QPushButton
{
  /* 아이콘과 텍스트 사이 간격을 위한 조치 */
  text-align: center center;
}
#SolMainWidget QPushButton#textTabButton,
#SolMainWidget QPushButton#docTabButton
{
  icon-size: 20px;
}

#SolMainWidget QPushButton#settingsButton
{}


/*  ------------------------------------------------------------------------  */
/*  Custom colors  */

#SolMainWidget 
.danger{
  color: #dc3545;
  background-color: transparent;
}

#SolMainWidget 
.warning{
  color: #ffc107;
  background-color: transparent;
}

#SolMainWidget 
.success{
  color: #17a2b8;
  background-color: transparent;
}

#SolMainWidget 
.danger:disabled{
  color: rgba(220, 53, 69, 0.4);
  border-color: rgba(220, 53, 69, 0.4);
}

#SolMainWidget 
.warning:disabled{
  color: rgba(255, 193, 7, 0.4);
  border-color: rgba(255, 193, 7, 0.4);
}

#SolMainWidget 
.success:disabled{
  color: rgba(23, 162, 184, 0.4);
  border-color: rgba(23, 162, 184, 0.4);
}

#SolMainWidget 
.danger:flat:disabled{
  background-color: rgba(220, 53, 69, 0.1);
}

#SolMainWidget 
.warning:flat:disabled{
  background-color: rgba(255, 193, 7, 0.1);
}

#SolMainWidget 
.success:flat:disabled{
  background-color: rgba(23, 162, 184, 0.1);
}

/*  ------------------------------------------------------------------------  */
/*  Basic widgets  */

#SolMainWidget
{
  background-color: rgba(50, 55, 60, 1);
  
}

#SolMainWidget  QSplitter {
  background-color: transparent;
  border: none
}

#SolMainWidget  QStatusBar {
  color: #ffffff;
  background-color: rgba(79, 91, 98, 0.2);
  border-radius: 0px;
}

#SolMainWidget  QScrollArea,
#SolMainWidget  QStackedWidget,
#SolMainWidget  QWidget > QToolBox,
#SolMainWidget  QToolBox > QWidget,
#SolMainWidget  QTabWidget > QWidget {
  border: none;
}

#SolMainWidget  QTabWidget::pane {
  border: none;
}

/*  ------------------------------------------------------------------------  */
/*  Inputs  */

#SolMainWidget  QDateTimeEdit,
#SolMainWidget  QSpinBox,
#SolMainWidget  QDoubleSpinBox
/* #SolMainWidget  QTextEdit */
/* #SolMainWidget  QLineEdit, */
{
  
  background-color: rgb(179, 225, 255);
  border: 2px solid rgb(179, 225, 255);
  border-radius: 4px;
  height: 32px;
}

#SolMainWidget  QDateTimeEdit,
#SolMainWidget  QSpinBox,
#SolMainWidget  QDoubleSpinBox,
#SolMainWidget  QTreeView {
  color: #ffffff;
  padding-left: 16px;
  border-radius: 4px;
  height: 32px;
  background-color: rgba(35, 38, 41, 0.75);
  border-width: 0 0 2px 0;
}


#SolMainWidget  QDateTimeEdit:disabled,
#SolMainWidget  QSpinBox:disabled,
#SolMainWidget  QDoubleSpinBox:disabled,
#SolMainWidget  QTextEdit:disabled {
  color: rgba(255, 255, 255, 0.2);
  background-color: rgba(35, 38, 41, 0.3);
  border: 2px solid #232629;
  border-width: 0 0 2px 0;
  padding: 0px 16px;
  border-radius: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: 32px;
}

/*  ------------------------------------------------------------------------  */
/*  QComboBox  */
/*  ------------------------------------------------------------------------  */
/*  Spin buttons  */

#SolMainWidget  QDateTimeEdit::up-button,
#SolMainWidget  QDoubleSpinBox::up-button,
#SolMainWidget  QSpinBox::up-button {
  subcontrol-origin: border;
  subcontrol-position: top right;
  width: 20px;
  /* image: url(icon:/active/uparrow.svg); */
  border-width: 0px;
  margin-right: 5px;
}

#SolMainWidget  QDateTimeEdit::up-button:disabled,
#SolMainWidget  QDoubleSpinBox::up-button:disabled,
#SolMainWidget  QSpinBox::up-button:disabled {
  /* image: url(icon:/disabled/uparrow.svg); */
}

#SolMainWidget  QDateTimeEdit::down-button,
#SolMainWidget  QDoubleSpinBox::down-button,
#SolMainWidget  QSpinBox::down-button {
  subcontrol-origin: border;
  subcontrol-position: bottom right;
  width: 20px;
  /* image: url(icon:/active/downarrow.svg); */
  border-width: 0px;
  border-top-width: 0;
  margin-right: 5px;
}

#SolMainWidget  QDateTimeEdit::down-button:disabled,
#SolMainWidget  QDoubleSpinBox::down-button:disabled,
#SolMainWidget  QSpinBox::down-button:disabled {
  /* image: url(icon:/disabled/downarrow.svg); */
}


/*  ------------------------------------------------------------------------  */
/*  QTabBar  */


/*  ------------------------------------------------------------------------  */
/*  QGroupBox  */

#SolMainWidget  QGroupBox {
  padding-top:  16px;
  /* padding-left: 12px; */
  margin-top: 0.5em;
  
  border: 1px solid gray;
  border-color: rgba(0, 0, 0, 0.4);
  border-style: solid none none none;

}

#SolMainWidget  QGroupBox::title {
  color: rgba(255, 255, 255, 0.67);
  subcontrol-origin: margin;

}

/*  ------------------------------------------------------------------------  */
/*  QRadioButton and QCheckBox labels  */

#SolMainWidget  QRadioButton,
#SolMainWidget  QCheckBox {
  spacing: 12px;
  color: #ffffff;
  line-height: 14px;
  height: 36px;
  background-color: transparent;
  spacing: 5px;
}

#SolMainWidget  QRadioButton:disabled,
#SolMainWidget  QCheckBox:disabled {
  color: rgba(255, 255, 255, 0.3);
}

/*  ------------------------------------------------------------------------  */
/*  General Indicators  */

/* #SolMainWidget  QGroupBox::indicator {
  width: 24px;
  height: 24px;
  border-radius: 3px;
} */


#SolMainWidget  QTableWidget::indicator,
#SolMainWidget  QRadioButton::indicator
/* ,#SolMainWidget  QCheckBox::indicator  */
{
  width: 28px;
  height: 28px;
  border-radius: 4px;
 }
 
/*  ------------------------------------------------------------------------  */
/*  QListView Indicator  */

 #SolMainWidget  QListView::indicator:checked,
#SolMainWidget  QListView::indicator:checked:selected,
#SolMainWidget  QListView::indicator:checked:focus {
  /* image: url(icon:/primary/checklist.svg); */
}

#SolMainWidget  QListView::indicator:checked:selected:active {
  /* image: url(icon:/primary/checklist_invert.svg); */
}

#SolMainWidget  QListView::indicator:checked:disabled {
  /* image: url(icon:/disabled/checklist.svg); */
}

#SolMainWidget  QListView::indicator:indeterminate,
#SolMainWidget  QListView::indicator:indeterminate:selected,
#SolMainWidget  QListView::indicator:indeterminate:focus {
  /* image: url(icon:/primary/checklist_indeterminate.svg); */
}

#SolMainWidget  QListView::indicator:indeterminate:selected:active {
  /* image: url(icon:/primary/checklist_indeterminate_invert.svg); */
}

#SolMainWidget  QListView::indicator:indeterminate:disabled {
  /* image: url(icon:/disabled/checklist_indeterminate.svg); */
}

/*  ------------------------------------------------------------------------  */
/*  QTableView Indicator  */

#SolMainWidget  QTableView::indicator:enabled:checked,
#SolMainWidget  QTableView::indicator:enabled:checked:selected,
#SolMainWidget  QTableView::indicator:enabled:checked:focus {
  /* image: url(icon:/primary/checkbox_checked.svg); */
}

#SolMainWidget  QTableView::indicator:checked:selected:active {
  /* image: url(icon:/primary/checkbox_checked_invert.svg); */
}

#SolMainWidget  QTableView::indicator:disabled:checked,
#SolMainWidget  QTableView::indicator:disabled:checked:selected,
#SolMainWidget  QTableView::indicator:disabled:checked:focus {
  /* image: url(icon:/disabled/checkbox_checked.svg); */
}

#SolMainWidget  QTableView::indicator:enabled:unchecked,
#SolMainWidget  QTableView::indicator:enabled:unchecked:selected,
#SolMainWidget  QTableView::indicator:enabled:unchecked:focus {
  /* image: url(icon:/primary/checkbox_unchecked.svg); */
}

#SolMainWidget  QTableView::indicator:unchecked:selected:active {
  /* image: url(icon:/primary/checkbox_unchecked_invert.svg); */
}

#SolMainWidget  QTableView::indicator:disabled:unchecked,
#SolMainWidget  QTableView::indicator:disabled:unchecked:selected,
#SolMainWidget  QTableView::indicator:disabled:unchecked:focus {
  /* image: url(icon:/disabled/checkbox_unchecked.svg); */
}

#SolMainWidget  QTableView::indicator:enabled:indeterminate,
#SolMainWidget  QTableView::indicator:enabled:indeterminate:selected,
#SolMainWidget  QTableView::indicator:enabled:indeterminate:focus {
  /* image: url(icon:/primary/checkbox_indeterminate.svg); */
}

#SolMainWidget  QTableView::indicator:indeterminate:selected:active {
  /* image: url(icon:/primary/checkbox_indeterminate_invert.svg); */
}

#SolMainWidget  QTableView::indicator:disabled:indeterminate,
#SolMainWidget  QTableView::indicator:disabled:indeterminate:selected,
#SolMainWidget  QTableView::indicator:disabled:indeterminate:focus {
  /* image: url(icon:/disabled/checkbox_indeterminate.svg); */
}

/*  ------------------------------------------------------------------------  */
/*  QCheckBox and QGroupBox Indicator  */

#SolMainWidget  QCheckBox::indicator:checked,
#SolMainWidget  QGroupBox::indicator:checked {
  /* image: url(icon:/primary/checkbox_checked.svg); */
}

#SolMainWidget  QCheckBox::indicator:unchecked,
#SolMainWidget  QGroupBox::indicator:unchecked {
  /* image: url(icon:/primary/checkbox_unchecked.svg); */
}

#SolMainWidget  QCheckBox::indicator:indeterminate,
#SolMainWidget  QGroupBox::indicator:indeterminate {
  /* image: url(icon:/primary/checkbox_indeterminate.svg); */
}

#SolMainWidget  QCheckBox::indicator:checked:disabled,
#SolMainWidget  QGroupBox::indicator:checked:disabled {
  /* image: url(icon:/disabled/checkbox_checked.svg); */
}

#SolMainWidget  QCheckBox::indicator:unchecked:disabled,
#SolMainWidget  QGroupBox::indicator:unchecked:disabled {
  /* image: url(icon:/disabled/checkbox_unchecked.svg); */
}

#SolMainWidget  QCheckBox::indicator:indeterminate:disabled,
#SolMainWidget  QGroupBox::indicator:indeterminate:disabled {
  /* image: url(icon:/disabled/checkbox_indeterminate.svg); */
}

/*  ------------------------------------------------------------------------  */
/*  QRadioButton Indicator  */

#SolMainWidget  QRadioButton::indicator:checked {
  /* image: url(icon:/primary/radiobutton_checked.svg); */
}

#SolMainWidget  QRadioButton::indicator:unchecked {
  /* image: url(icon:/primary/radiobutton_unchecked.svg); */
}

#SolMainWidget  QRadioButton::indicator:checked:disabled {
  /* image: url(icon:/disabled/radiobutton_checked.svg); */
}

#SolMainWidget  QRadioButton::indicator:unchecked:disabled {
  /* image: url(icon:/disabled/radiobutton_unchecked.svg); */
}

/*  ------------------------------------------------------------------------  */
/*  QDockWidget  */

#SolMainWidget  QDockWidget {
  color: #ffffff;
  border: 2px solid #232629;
  titlebar-close-icon: url(icon:/primary/close.svg);
  titlebar-normal-icon: url(icon:/primary/float.svg);
  border-radius: 4px;
}

#SolMainWidget  QDockWidget::title {
  text-align: left;
  padding-left: 36px;
  padding: 3px;
  margin-top: 4px;
}

/*  ------------------------------------------------------------------------  */
/*  QComboBox indicator  */

#SolMainWidget  QComboBox::indicator:checked {
  /* image: url(icon:/primary/checklist.svg); */
}

#SolMainWidget  QComboBox::indicator:checked:selected {
  /* image: url(icon:/primary/checklist_invert.svg); */
}

/*  ------------------------------------------------------------------------  */
/*  Menu Items  */

/*  ------------------------------------------------------------------------  */
/*  QMenu  */

/*
#SolMainWidget  QMenu::right-arrow{
  /* image: url(icon:/primary/rightarrow.svg); */
  /*width: 16px;
  height: 16px;
}*/

#SolMainWidget  QMenu::right-arrow:selected{
  /* image: url(icon:/disabled/rightarrow.svg); */
}

#SolMainWidget  QMenu::indicator:non-exclusive:unchecked {
  /* image: url(icon:/primary/checkbox_unchecked.svg); */
}

#SolMainWidget  QMenu::indicator:non-exclusive:unchecked:selected {
  /* image: url(icon:/primary/checkbox_unchecked_invert.svg); */
}

#SolMainWidget  QMenu::indicator:non-exclusive:checked {
  /* image: url(icon:/primary/checkbox_checked.svg); */
}

#SolMainWidget  QMenu::indicator:non-exclusive:checked:selected {
  /* image: url(icon:/primary/checkbox_checked_invert.svg); */
}

#SolMainWidget  QMenu::indicator:exclusive:unchecked {
  /* image: url(icon:/primary/radiobutton_unchecked.svg); */
}

#SolMainWidget  QMenu::indicator:exclusive:unchecked:selected {
  /* image: url(icon:/primary/radiobutton_unchecked_invert.svg); */
}

#SolMainWidget  QMenu::indicator:exclusive:checked {
  /* image: url(icon:/primary/radiobutton_checked.svg); */
}

#SolMainWidget  QMenu::indicator:exclusive:checked:selected {
  /* image: url(icon:/primary/radiobutton_checked_invert.svg); */
}

/*  ------------------------------------------------------------------------  */
/*  QMenuBar  */

#SolMainWidget  QMenuBar {
  background-color: #232629;
  color: #ffffff;
}

#SolMainWidget  QMenuBar::item {
  height: 32px;
  padding: 8px;
  background-color: transparent;
  color: #ffffff;
}

#SolMainWidget  QMenuBar::item:selected,
#SolMainWidget  QMenuBar::item:pressed {
  color: #000000;
  background-color: #6effe8;
}

/*  ------------------------------------------------------------------------  */
/*  QToolBox  */

#SolMainWidget  QToolBox::tab {
  background-color: #232629;
  color: #ffffff;
  border-radius: 4px;
  padding-left: 15px;
}

#SolMainWidget  QToolBox::tab:selected,
#SolMainWidget  QToolBox::tab:hover {
  background-color: rgba(29, 233, 182, 0.2);
}

/*  ------------------------------------------------------------------------  */
/*  QProgressBar  */

#SolMainWidget  QProgressBar {
  border-radius: 0;
  background-color: #4f5b62;
  text-align: center;
  color: transparent;
}

#SolMainWidget  QProgressBar::chunk {
  background-color: #1de9b6;
}


/*  ------------------------------------------------------------------------  */
/*  QScrollBar-Big  */

#SolMainWidget  QScrollBar.big:horizontal {
  border: 0;
  background: #232629;
  height: 36px;
}

#SolMainWidget  QScrollBar.big:vertical {
  border: 0;
  background: #232629;
  width: 36px;
}

#SolMainWidget  QScrollBar.big::handle,
#SolMainWidget  QScrollBar.big::handle:vertical:hover,
#SolMainWidget  QScrollBar.big::handle:horizontal:hover {
  background: #1de9b6;
}

#SolMainWidget  QScrollBar.big::handle:horizontal {
  min-width: 24px;
}

#SolMainWidget  QScrollBar.big::handle:vertical {
  min-height: 24px;
}

#SolMainWidget  QScrollBar.big::add-line:vertical,
#SolMainWidget  QScrollBar.big::sub-line:vertical,
#SolMainWidget  QScrollBar.big::add-line:horizontal,
#SolMainWidget  QScrollBar.big::sub-line:horizontal {
  border: 0;
  background: transparent;
  width: 0px;
  height: 0px;
}

/*  ------------------------------------------------------------------------  */
/*  QSlider  */

#SolMainWidget  QSlider:horizontal {
  min-height: 24px;
  max-height: 24px;
}

#SolMainWidget  QSlider:vertical {
  min-width: 24px;
  max-width: 24px;
}

#SolMainWidget  QSlider::groove:horizontal {
  height: 4px;
  background: #393939;
  margin: 0 12px;
}

#SolMainWidget  QSlider::groove:vertical {
  width: 4px;
  background: #393939;
  margin: 12px 0;
  border-radius: 24px;
}

#SolMainWidget  QSlider::handle:horizontal {
  /* image: url(icon:/primary/slider.svg); */
  width: 24px;
  height: 24px;
  margin: -24px -12px;
}

#SolMainWidget  QSlider::handle:vertical {
  /* image: url(icon:/primary/slider.svg); */
  border-radius: 24px;
  width: 24px;
  height: 24px;
  margin: -12px -24px;
}

#SolMainWidget  QSlider::add-page {
background: #232629;
}

#SolMainWidget  QSlider::sub-page {
background: #1de9b6;
}

/*  ------------------------------------------------------------------------  */
/*  VLines and HLinex  */

#SolMainWidget  QFrame[frameShape="4"] {
    border-width: 1px 0 0 0;
    background: none;
}

#SolMainWidget  QFrame[frameShape="5"] {
    border-width: 0 1px 0 0;
    background: none;
}

#SolMainWidget  QFrame[frameShape="4"],
#SolMainWidget  QFrame[frameShape="5"] {
  border-color: #4f5b62;
}

/*  ------------------------------------------------------------------------  */
/*  QToolBar  */

#SolMainWidget  QToolBar {
  background: rgba(50, 55, 60, 1);
  border: 0px solid;
}

#SolMainWidget  QToolBar:horizontal {
  border-bottom: 1px solid #4f5b62;
}

#SolMainWidget  QToolBar:vertical {
  border-right: 1px solid #4f5b62;
}

#SolMainWidget  QToolBar::handle:horizontal {
  /* image: url(icon:/primary/toolbar-handle-horizontal.svg); */
}

#SolMainWidget  QToolBar::handle:vertical {
  /* image: url(icon:/primary/toolbar-handle-vertical.svg); */
}

#SolMainWidget  QToolBar::separator:horizontal {
  border-right: 1px solid #4f5b62;
  border-left: 1px solid #4f5b62;
  width: 1px;
}

#SolMainWidget  QToolBar::separator:vertical {
  border-top: 1px solid #4f5b62;
  border-bottom: 1px solid #4f5b62;
  height: 1px;
}


/*  ------------------------------------------------------------------------  */
/*  QToolButton  */

#SolMainWidget  QToolButton {
  background: rgba(50, 55, 60, 1);
  border: 0px;
  height: 36px;
  margin: 3px;
  padding: 3px;
  border-right: 12px solid rgba(50, 55, 60, 1);
  border-left: 12px solid rgba(50, 55, 60, 1);
}

#SolMainWidget  QToolButton:hover {
  background: #4f5b62;
  border-right: 12px solid #4f5b62;
  border-left: 12px solid #4f5b62;
}

#SolMainWidget  QToolButton:pressed {
  background: #232629;
  border-right: 12px solid #232629;
  border-left: 12px solid #232629;
}

#SolMainWidget  QToolButton:checked {
  background: #4f5b62;
  border-left: 12px solid #4f5b62;
  border-right: 12px solid #1de9b6;
}

/*  ------------------------------------------------------------------------  */
/*  General viewers  */

#SolMainWidget  QTableView {
  background-color: rgba(50, 55, 60, 1);
  border: 1px solid #232629;
  border-radius: 4px;
}

#SolMainWidget  QTreeView

#SolMainWidget  QTableView::item,
#SolMainWidget  QTreeView::item
{
  padding: 4px;
  min-height: 32px;
  color: #ffffff;
  selection-color: #ffffff; /* For Windows */
  border-color: transparent;  /* Fix #34 */
}

/*  ------------------------------------------------------------------------  */
/*  Items Selection */

#SolMainWidget  QTableView::item:selected,
#SolMainWidget  QTreeView::item:selected {
  background-color: rgba(29, 233, 182, 0.2);
  selection-background-color: rgba(29, 233, 182, 0.2);
  color: #ffffff;
  selection-color: #ffffff; /* For Windows */
}

#SolMainWidget  QTableView {
  selection-background-color: rgba(29, 233, 182, 0.2);
}

#SolMainWidget  QTableView:focus {
  selection-background-color: #1de9b6;
}

#SolMainWidget  QTableView::item:disabled {
  color: rgba(255, 255, 255, 0.3);
  selection-color: rgba(255, 255, 255, 0.3);
  background-color: #232629;
  selection-background-color: #232629;
}

/*  ------------------------------------------------------------------------  */
/*  QTreeView  */

#SolMainWidget  QTreeView::branch{
  background-color: #232629;
}

#SolMainWidget  QTreeView::branch:closed:has-children:has-siblings,
#SolMainWidget  QTreeView::branch:closed:has-children:!has-siblings {
  /* image: url(icon:/primary/branch-closed.svg); */
}

#SolMainWidget  QTreeView::branch:open:has-children:!has-siblings,
#SolMainWidget  QTreeView::branch:open:has-children:has-siblings {
  /* image: url(icon:/primary/branch-open.svg); */
}

#SolMainWidget  QTreeView::branch:has-siblings:!adjoins-item {
  /* border-image: url(icon:/disabled/vline.svg) 0; */
}

#SolMainWidget  QTreeView::branch:has-siblings:adjoins-item {
    /* border-image: url(icon:/disabled/branch-more.svg) 0; */
}

#SolMainWidget  QTreeView::branch:!has-children:!has-siblings:adjoins-item,
#SolMainWidget  QTreeView::branch:has-children:!has-siblings:adjoins-item {
    /* border-image: url(icon:/disabled/branch-end.svg) 0; */
}

#SolMainWidget  QTreeView QHeaderView::section {
  border: none;
}


/*  ------------------------------------------------------------------------  */
/*  Custom buttons  */

#SolMainWidget  QPushButton.danger {
  border-color: #dc3545;
  color: #dc3545;
}

#SolMainWidget  QPushButton.danger:checked,
#SolMainWidget  QPushButton.danger:pressed {
  color: rgba(50, 55, 60, 1);
  background-color: #dc3545;
}

#SolMainWidget  QPushButton.warning{
  border-color: #ffc107;
  color: #ffc107;
}

#SolMainWidget  QPushButton.warning:checked,
#SolMainWidget  QPushButton.warning:pressed {
  color: rgba(50, 55, 60, 1);
  background-color: #ffc107;
}

#SolMainWidget  QPushButton.success {
  border-color: #17a2b8;
  color: #17a2b8;
}

#SolMainWidget  QPushButton.success:checked,
#SolMainWidget  QPushButton.success:pressed {
  color: rgba(50, 55, 60, 1);
  background-color: #17a2b8;
}

#SolMainWidget  QPushButton.danger:flat:hover {
  background-color: rgba(220, 53, 69, 0.2);
}

#SolMainWidget  QPushButton.danger:flat:pressed,
#SolMainWidget  QPushButton.danger:flat:checked {
  background-color: rgba(220, 53, 69, 0.1);
  color: #dc3545;
}

#SolMainWidget  QPushButton.warning:flat:hover {
  background-color: rgba(255, 193, 7, 0.2);
}

#SolMainWidget  QPushButton.warning:flat:pressed,
#SolMainWidget  QPushButton.warning:flat:checked {
  background-color: rgba(255, 193, 7, 0.1);
  color: #ffc107;
}

#SolMainWidget  QPushButton.success:flat:hover {
  background-color: rgba(23, 162, 184, 0.2);
}

#SolMainWidget  QPushButton.success:flat:pressed,
#SolMainWidget  QPushButton.success:flat:checked {
  background-color: rgba(23, 162, 184, 0.1);
  color: #17a2b8;
}

/*  ------------------------------------------- -----------------------------  */
/*  QTableView  */

#SolMainWidget  QTableCornerButton::section {
  background-color: #232629;
  border-radius: 0px;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-color: rgba(50, 55, 60, 1);
}

#SolMainWidget  QTableView {
  alternate-background-color: rgba(35, 38, 41, 0.7);
}

#SolMainWidget  QHeaderView {
  border: none;
}

#SolMainWidget  QHeaderView::section {
  color: rgba(255, 255, 255, 0.7);
  background-color: #232629;
  padding: 0 24px;
  height: 36px;
  border-radius: 0px;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-color: rgba(50, 55, 60, 1);
}

#SolMainWidget  QHeaderView::section:vertical {

}

#SolMainWidget  QHeaderView::section:horizontal {

}

/*  ------------------------------------------------------------------------  */
/*  QLCDNumber  */

#SolMainWidget  QLCDNumber {
  color: #1de9b6;
  background-color:rgba(29, 233, 182, 0.1);
  border: 1px solid rgba(29, 233, 182, 0.3);
  border-radius: 4px;
}

/*  ------------------------------------------------------------------------  */
/*  QCalendarWidget  */

#SolMainWidget 
#qt_calendar_prevmonth {
  qproperty-icon: url(icon:/primary/leftarrow.svg);
}

#SolMainWidget 
#qt_calendar_nextmonth {
  qproperty-icon: url(icon:/primary/rightarrow.svg);
}

/*  ------------------------------------------------------------------------  */
/*  Inline QLineEdit  */

#SolMainWidget  QTreeView QLineEdit,
#SolMainWidget  QTableView QLineEdit{
  color: #ffffff;
  background-color: #232629;
  border: 1px solid unset;
  border-radius: unset;
  padding: unset;
  padding-left: unset;
  height: unset;
  border-width: unset;
  border-top-left-radius: unset;
  border-top-right-radius: unset;
}


/*  ------------------------------------------------------------------------  */
/*  QDialog  */

#SolMainWidget 
  /* linux */
  QDialog QToolButton,
  QDialog QToolButton:hover,
  QDialog QToolButton:pressed,
  QDialog QToolButton:checked {
    border: 0px;
    height: unset;
    margin: unset;
    padding: unset;
    border-right: unset;
    border-left: unset;
    background-color: #1de9b6;
    color: #ffffff;
    border-radius: 4px;
  }
  
#SolMainWidget  QDialog QToolButton:disabled {
  background-color: #232629;
  color: #ffffff
}

/*  ------------------------------------------------------------------------  */
/*  Grips  */

#SolMainWidget  QMainWindow::separator:vertical,
#SolMainWidget  QSplitter::handle:horizontal {
  /* image: url(icon:/primary/splitter-horizontal.svg); */
}

#SolMainWidget  QMainWindow::separator:horizontal,
#SolMainWidget  QSplitter::handle:vertical {
  /* image: url(icon:/primary/splitter-vertical.svg); */
}

#SolMainWidget  QSizeGrip {
  /* image: url(icon:/primary/sizegrip.svg); */
  background-color: transparent;
}

#SolMainWidget  QMenuBar QToolButton:hover,
#SolMainWidget  QMenuBar QToolButton:pressed,
#SolMainWidget  QMenuBar QToolButton {
  border-width: 0;
  border-left: 10px;
  /* border-image: url(icon:/primary/rightarrow2.svg); */
  background-color: transparent;
}

/*  ------------------------------------------------------------------------  */
/*  Focus  */

#SolMainWidget  QDateTimeEdit:focus,
#SolMainWidget  QSpinBox:focus,
#SolMainWidget  QDoubleSpinBox:focus{
  color: #1de9b6;
  border: 2px solid #1de9b6;
  border-width: 0 0 2px 0;

}

#SolMainWidget  QDateTimeEdit::up-button:focus,
#SolMainWidget  QDoubleSpinBox::up-button:focus,
#SolMainWidget  QSpinBox::up-button:focus {
  /* image: url(icon:/primary/uparrow.svg); */
}

#SolMainWidget  QDateTimeEdit::down-button:focus,
#SolMainWidget  QDoubleSpinBox::down-button:focus,
#SolMainWidget  QSpinBox::down-button:focus {
  /* image: url(icon:/primary/downarrow.svg); */
}

#SolMainWidget  QTableWidget::indicator:focus,
#SolMainWidget  QRadioButton::indicator:focus {
  background-color: rgba(29, 233, 182, 0.2);
  border-radius: 14px;
 }